body{

    background-color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-color: white;
}
h1{
    color: black;
    background: white;
    font-size: 25px;
}


.caja-principal{
    width: 100%;
    height: 200px;
    background: white;
}

.caja-logo{
    width: 50%;
    height: 150px;
    background: white;
    float:left;
    position: relative;
}

.caja-logo img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.caja-titulo{
    width: 50%;
    height: 150px;
    background-color:white;
    float:left;
    text-align: left;
    /*text-align: center;*/
}

.caja-titulo h1{
    line-height: 120px;
}

.caja-menu{
    width: 50%;
    height: 50px;
    background: white;
    float:left;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;

}


ul li{
    display: inline-block;
    width: 150px;
    height: 30px;
    background-color:cornflowerblue;
    text-align: center;
    padding: 5px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

ul li a:hover{
    color:blue;

}




#parrafo_texto{
    color:darkblue;

}

form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    text-align: left;
}

.label-form{
    width: 200px;
    display: inline-block;
}

.input-form{
    width: 400px;
    
}

.select-form{
    background-color: white;

    
}

.boton-form{
    width: 40%;
    height: 30px;
    background-color: coral;
    color: white;
    border: none;

}

.boton-form:hover{
    color:brown;
}