* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background: url(./Imagen2.jpg);
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
body .imagen-fondo {
    width: 100vw;
}
body .container {
    display: flex;
    align-items: center;
}
.botones {
    border: .3rem solid white;
}
#boton-crear {
    margin: .2rem;
}
#boton-ingresar {
    margin: .3rem; 
    margin-left: .5rem;
}
.container {
    background-color: rgb(136, 179, 235);
    margin-top: 10rem;
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;    
}
